.tab {
  .playerRow {
    display: flex;
    justify-content: space-between;
    // align-content: space-around;
    flex-flow: row wrap;
    // width: 405px;
    margin: 46px 26px 0 26px;
  }

  .player-wrap {
    // flex: 0 0 50%;
    position: relative;
    display: flex;
  }

  .player-state-wrap {
    height: 53px;
    width: 39px;
    // background-color: #F1D09F;
    position: absolute;
    left: -40px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .state-left {
    position: absolute;
    left: 157px;
    top: 10px;
  }

  .player-no {
    position: absolute;
    top: -25px;
    color: #fff;
    font-size: 14px;
    height: 23px;
    width: 23px;
    line-height: 23px;
    background-color: #807878;
    border-radius: 50%;
    text-align: center;
  }

  .player-no-running {
    font-weight: bold;
    color: #fff;
    background-color: #EE914E;
  }

  .kickout {
    position: absolute;
    z-index: 99;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .kickout-icon {
    top: 5px;
    left: 125px;
  }

  .card1,
  .card2 {
    position: absolute;
    z-index: 999;
    top: -20px;
  }

  .card1 {
    left: 60px;
  }

  .card2 {
    left: 104px;
  }

  .player {
    width: 153px;
    height: 69px;
    background-color: #EE914E;
    // text-align: center;
    // line-height: 114px;
    display: flex;
    // padding: 10px 4px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .player-wait {
    background-color: #A8A29D;
  }

  .avatar-wrap {
    margin: 10px 0 10px 4px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #D8D8D8;
  }

  .avatar {
    border-radius: 5px;
    height: 50px;
    width: 50px;
  }

  .player-name {
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    color: #fff;
    font-weight: bold;
    width: 82px;
    border-bottom: 1px solid #fff;
    margin-top: 36px;
    margin-left: 8px;
  }

  .wallet-wrap {
    display: flex;
    margin-top: 3px;
  }

  .wallet {
    display: flex;
    background-color: #EE914E;
    width: 100px;
    height: 18px;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 4px;
  }
  .wallet-wait {
    background-color: #A8A29D;
  }

  .wallet-icon {
    //margin: 2px 0 2px 4px;
    line-height: 22px;
  }

  .wallet-icon-img {
    width: 14px;
    height: 14px;
  }

  .wallet-amount {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
  }

  .pct {
    background-color: #807878;
    font-size: 12px;
    line-height: 18px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-left: 5px;
  }

  .desktop-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 33px 26px 0 26px;
  }

  .desktop-wrap {}

  .desktop-cards {
    width: 250px;
    height: 95px;
    border-radius: 5px;
    background-color: #584D4D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }

  .desktop-wallet {
    margin-top: 4px;
    width: 250px;
    height: 36px;
    background-color: #EE914E;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5px;
  }

  .d-wallet-icon {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    display: flex;
    align-items: center;
  }

  .d-wallet-icon-img {
    height: 28px;
    width: 28px;
  }

  .d-wallet-icon-text {
    margin-left: 7px;
  }

  .d-wallet-amount {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 36px;
  }

  .chatbox {
    width: 159px;
    height: 134px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
  }

  .chat-window {

    .line {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .chat-panel {}

  .self-box {
    // width: 100%;
    height: 109px;
    background-color: #EE914E;
    margin: 30px 26px 0 26px;
    border-radius: 5px;
    ;
  }

  .self-wrap {
    position: relative;
  }

  .s-info-wrap {
    display: flex;
    height: 89px;
  }

  .s-avatar {
    align-self: center;
    margin-left: 6px;
  }

  .s-avatar-img {
    width: 65px;
    height: 65px;
  }

  .s-username {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 26px;
    align-self: flex-end;
    margin-bottom: 16px;
    margin-left: 10px;
  }

  .s-wallet-wrap {
    display: flex;
    width: 156px;
  }

  .s-w-amount-wrap {
    width: 97px;
    height: 18px;
    background-color: #fff;
    margin-left: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    box-sizing: border-box;
    padding: 0 5px 0 3px;
  }

  .s-w-amount-icon {
    width: 14px;
    height: 14px;
    margin-top: -2px;
  }

  .s-w-amount-icon-img {
    width: 15px;
    height: 15px;
  }

  .s-w-amount {
    color: #3D3D3D;
    font-size: 12px;
    line-height: 18px;
  }

  .s-w-pct {
    width: 50px;
    height: 18px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    color: #3D3D3D;
    text-align: center;
    background-color: #fff;
    margin-left: 8px;
  }

  .hand-card1,
  .hand-card2 {
    position: absolute;
    top: -20px;
    left: 80px;
  }

  .hand-card2 {
    left: 126px;
  }

  .hand-five {
    position: absolute;
    left: 188px;
    top: -10px;
    z-index: 999;
    width: 166px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    // background-color: #807878;
  }

  .hand-five-item {}

  .u-opt {
    display: flex;
    justify-content: flex-start;
  }

  .control {
    align-self: flex-end;
    margin-left: 30px;
  }

  .ctl-opt-wrap {
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin-top: 10px;
  }

  .amount-input {
    width: 80px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    background-color: #F1D09F;
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 0;
    color: 3D3D3D;
  }

  .amount-sub,
  .amount-plus {
    width: 36px;
    height: 24px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
  }

  .amount-sub-icon,
  .amount-plus-icon {
    width: 16px;
    height: 13px;
  }

  .amount-plus-icon {
    width: 16px;
    height: 13px;
  }

  .ctl-opt {}

  .ctl-opt-btn-1,
  .ctl-opt-btn-2,
  .ctl-opt-btn-3,
  .ctl-opt-btn-4,
  .ctl-opt-btn-5,
  .ctl-opt-btn-6 {
    width: 53.25px;
    height: 24px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    line-height: 24px;
    border: 0;
  }

  .ctl-opt-btn-1 {
    background-color: #F1D09F;
    color: #EA8C28;
  }

  .ctl-opt-btn-2 {
    background-color: #F1D09F;
    color: #D05959;
  }

  .ctl-opt-btn-3 {
    background-color: #FF4400;
    color: #F1D09F;
  }

  .ctl-opt-btn-4,
  .ctl-opt-btn-5,
  .ctl-opt-btn-6 {
    width: 79.2px;
  }
  .ctl-opt-btn-4 {
    background-color: #F1D09F;
    color: #D05959;
  }
  .ctl-opt-btn-5 {
    background-color: #48C25D;
    color: #FFF;
  }
  .ctl-opt-btn-5-ready {
    background-color: #6AAD76;
    color: #FFF;
  }
  .ctl-opt-btn-6 {
    background-color: #FF4400;
    color: #F1D09F;
  }
  .ctl-opt-btn-disable {
    background-color: #A8A29D;
    color: #FFF;
  }
}
