.login {
  height: 100vh;
  background-color: #fff;

  .ceiling {
    height: 75px;
  }

  .title-line {
    //padding: 6px 39px;
    width: 359px;
    margin: 0 auto;
  }

  .title-1 {
    font-size: 36px;
    color: #EE914E;
    font-weight: bold;
  }

  .title-2 {
    font-size: 14px;
  }

  .input-wrap {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 37.5px 0;
  }

  .input-icon {
    margin-right: 16px;
    height: 36px;
    width: 36px;
    padding: 4px 0;
  }

  .input-1,
  .input-2,
  .captcha {
    box-sizing: border-box;
    width: 307px;
    height: 42px;
    border-radius: 16px;
    border: 1px solid #000;
    font-size: 18px;
    padding: 5px 20px;
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.3);
  }

  .input-2 {
    width: 165px;
  }

  .captcha {
    width: 125px;
    box-shadow: none;
    padding: 0 0;
    margin-left: 14px;
  }

  .submit-btn {
    width: 360px;
    height: 42px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.3);
    background-color: #EE914E;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
  }
}
