.card {
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .dot {
    position: absolute;
    font-size: 14px;
    left: 6px;
    top: 2px;
    font-weight: bold;
  }
  .suit-wrap {
    margin-top: 5px;
  }
  .suit {
    height: 18px;
    width: auto;
  }
}
