.page-top {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.3);

  .topHeight {
    width: 100%;
    height: 46px;
  }

  .page-title {
    padding: 0 14px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: relative;
    .title-left {
      display: flex;
      justify-content: flex-start;
    }
    .icon {
      width: 34px;
      height: 30px;
      // font-size: 40px;
    }
    .net-wrap {
      display: flex;
      align-items: center;
      margin-left: 12px;
    }
    .net-disconnect,.net-connecting,.net-connected {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #f40;
    }
    .net-disconnect {
      background-color: #F64B4B;
    }
    .net-connecting {
      background-color: #99ADCB;
    }
    .net-connected {
      background-color: #1BCE7D;
    }
    .net-connected-high {
      background-color: #EED87D;
    }
    .ttl {
      margin-left: 4px;
      font-weight: normal;
      font-size: 12px;
    }

    .title,.title1 {
      font-size: 18px;
      color: #000;
      // align-self: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      text-align: center;
      line-height: 46px;
    }
    .title-right {
      display: flex;
    }
    .profile {
      margin-right: 8px;
    }
    .username {
      font-size: 12px;
      text-align: right;
      color: #3D3D3D;
      font-weight: bold;
      font-weight: normal;
      margin-top: 0px;
      line-height: 28px;
    }
    .balance-wrap {
      font-weight: bold;
      color: #EE914E;
      font-size: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      line-height: 14px;
    }
    .balance-icon {
      height: 15px;
      width: 15px;
    }
    .balance {
      margin-left: 2px;
    }
    .title-avatar-wrap {
      width: 48px;
      height: 48px;
      // display: flex;
      // flex-direction: row;
      position: relative;
    }
    .avatar {
      width: 41px;
      height: 41px;
      // width: 32px;
      // height: 32px;
      border-radius: 50%;
      margin-top: 2px;
    }
    .menus {
      position: absolute;
      z-index: 10;
      top: 47px;
      right: -14px;
      // overflow: hidden;
      // background-color: #1BCE7D;
      // width: 100px;
      // padding: 5px 5px;
      // height: 40px;
      border-bottom-left-radius: 6px;
      border-end-end-radius: 6px;
      overflow: hidden;
      box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.3);
      display: flex;
      flex-direction: column;
    }
    .menus-hide {
      display: none;
    }
    .menu-item {
      width: 90px;
      position: relative;

      &:not(:first-child) {
        // content: " ";
        // position: absolute;
        // width: 80px;
        // height: 1px;
        // background-color: #000;
        border-top: 1px solid #D8D8D8;
      }
    }
    .menu-item-btn {
      text-align: center;
      color: #3D3D3D;
      font-size: 12px;
      line-height: 30px;
      padding: 3px 0;
      box-sizing: content-box;
      // background-color: #FFF;
      border-radius: 0;
      &::after {
        content: none;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

.hidden {
  height: 46px; //176px;
  width: 100%;
  opacity: 0;
  // background: pink;
}

.bgc {
  background-color: #fff;
}
