
.refresh-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.refresh-icon-rotate {
  animation: rotate360 1s infinite;
  transform-origin: center center;
}
@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

.celling {
  height: 43px;
}
.tab {
  // padding: 0 0 0 21px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;

  .tab-wrap {
    width: 150px;
    margin: 20px 10px;
  }
  .circle-wrap {
    height: 140px;
    width: 140px;
    // background-color: yellowgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .circle-inner {

  }
  .inner-coin {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .circle-item {
    background-color: #E8E8E8;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-avatar {
    height: 29px;
    width: 29px;
    border-radius: 50%;
  }
  .circle-icon {
    height: 20px;
    width: 20px;

  }
}
.bottom-btn-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-btn {
  width: 360px;
  background-color: #EE914E;
  border-radius: 16px;
  text-align: center;
  height: 42px;
  color: #fff;
  font-size: 18px;
}

.tab-no-wrap {
  display: flex;
  justify-content: center;
}

.tab-no,.tab-sc {
  width: 71px;
  height: 20px;
  background-color: #EE914E;
  border-radius: 16px;
  font-size: 12px;
  color: #FFF;
  text-align: center;
  line-height: 20px;
}

.tab-sc {
  width: 57px;
  margin-left: 5px;
}
