
.refresh-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.refresh-icon-rotate {
  animation: rotate360 1s infinite;
  transform-origin: center center;
}
@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

.celling {
  height: 43px;
}
.tab {
  // padding: 0 0 0 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .tab-box {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
  }
  .tab-wrap {
    width: 150px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
  }
  .circle-wrap {
    height: 140px;
    width: 140px;
    // background-color: yellowgreen;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .circle-inner {

  }
  .inner-coin {
    height: 76px;
    width: 76px;
    border-radius: 50%;
  }
  .circle-item {
    background-color: #E8E8E8;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-avatar {
    height: 29px;
    width: 29px;
    border-radius: 50%;
  }
  .circle-icon {
    height: 20px;
    width: 20px;

  }
}
.bottom-btn-wrap { // TODO flex column between overflow:screen
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-btn {
  width: 360px;
  background-color: #EE914E;
  border-radius: 16px;
  text-align: center;
  height: 42px;
  color: #fff;
  font-size: 18px;
}

.tab-no-wrap {
  display: flex;
  justify-content: space-between;
}
.tab-no,.tab-sc {
  width: 60px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #FFF;
  background-color: #EE914E;
  text-align: center;
  border-radius: 5px;
}
.tab-no {
  font-weight: bold;
}
.tab-sc {
  width: 60px;
  &:not(:first-child) {
    margin-left: 3px;
  }
}
.tab-sc-1 {
  width: 50px;
  background-color: #1BCE7D;
}
.tab-sc-1-full {
  background-color: #EED87D;
}
.tab-sc-1-gaming {
  background-color: #D8D8D8;
}
.tab-sc-2 {
  background-color: #99ADCB;
}
.tab-sc-2-nolimit {
  background-color: #CAC28B;
}
.tab-sc-3 {
  width: 80px !important;
  background-color: #51AEFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
}
.tab-sc-3-icon {
  width: 13px;
  height: 13px;
}
 .aaa {
  width: 71px;
  height: 20px;
  background-color: #EE914E;
  border-radius: 16px;
  text-align: center;
  line-height: 20px;
}

