
@import "@nutui/nutui-react-taro/dist/style.css";

body {
  font-size: 16px;
  max-width: 800Px;
  margin: 0 auto;
  background: #F5F5F5;
}

// NutUI-React
:root {
  --nutui-brand-color: #1BCE7D;
  --nutui-brand-color-start: #1BCE7D;
  --nutui-brand-color-end: #1BCE7D;
}
